<!DOCTYPE html>
<html lang="en">
<%- include("../_layouts/main-head.ejs"); %>
<body>
<%- include("../_layouts/default-header.ejs"); %>
<%- include("../_layouts/default-aside.ejs"); %>
<main>
    <form class="login-form" method="POST">
        <% if (token && token.length > 0) { %>
            <div class="form-control">
                <label for="password">Password</label>
                <input
                        type="password"
                        name="password"
                        id="password"
                >
            </div>
            <div class="form-control">
                <label for="passwordConfirm">Confirm Password</label>
                <input
                        type="password"
                        name="passwordConfirm"
                        id="passwordConfirm"
                >
            </div>
        <% } else { %>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
        <% } %>

        <% if (token && token.length > 0) { %>
            <button class="btn" type="submit">Confirm Password</button>
        <% } else { %>
            <button class="btn" type="submit">Reset Password</button>
        <% } %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="token" value="<%= token %>">
    </form>
</main>

<%- include("../_layouts/default-footer.ejs"); %>
</body>
</html>