<main>
    <form class="login-form" method="POST">
        {{#if token}}
            <div class="form-control">
                <label for="password">Password</label>
                <input
                        type="password"
                        name="password"
                        id="password"
                >
            </div>
            <div class="form-control">
                <label for="passwordConfirm">Confirm Password</label>
                <input
                        type="password"
                        name="passwordConfirm"
                        id="passwordConfirm"
                >
            </div>
        {{else}}
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" value="{{email}}">
            </div>
        {{/if}}

        {{#if email}}
            <button class="btn" type="submit">Confirm Password</button>
        {{else}}
            <button class="btn" type="submit">Reset Password</button>
        {{/if}}
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="token" value="{{ token }}">
    </form>
</main>