<!DOCTYPE html>
<html lang="en">
<%- include("../layouts/main-head.ejs"); %>
<body>
<%- include("../layouts/default-header.ejs"); %>
<%- include("../layouts/default-aside.ejs"); %>
<main>
    <h1><%= title %></h1>
    <p><%= description %></p>
</main>
<%- include("../layouts/default-footer.ejs"); %>
</body>
</html>