<!DOCTYPE html>
<html lang="en">
<%- include("../_layouts/main-head.ejs"); %>
<body>
<%- include("../_layouts/default-header.ejs"); %>
<%- include("../_layouts/default-aside.ejs"); %>
<main class="centered">
    <h1>Order <%= order.dataValues.id %></h1>
    <p><%= order.dataValues.createdAt %></p>
    <ul>
        <li><b>Email</b>: <%= order.dataValues.email %></li>
        <li><b>Total Items</b>: <%= order.totalItems %></li>
        <li><b>Total Quantity</b>: <%= order.totalQuantity %></li>
        <li><b>Total Price</b>: <%= order.totalPrice %></li>
    </ul>
    <hr />
    <div class="grid">
        <% order.OrderItems.forEach(function(item) { %>
            <article class="card product-item small-item">
                <header class="card__header">
                    <h1 class="product__title">
                        <%= item.Product.title %>
                    </h1>
                </header>
                <div class="card__image">
                    <img src="<%= item.Product.imageUrl %>" alt="<%= item['OrderItems.Product.title'] %>">
                </div>
                <div class="card__content">
                    <h2 class="product__price">
                        <%= item.quantity %>
                    </h2>
                    <h2 class="product__price">
                        $<%= item.Product.price %>
                    </h2>
                </div>
            </article>
        <% }); %>
    </div>
</main>
<%- include("../_layouts/default-footer.ejs"); %>
</body>
</html>