<main>
    <ul class="cart__item-list">
        {{#each productList}}
            <li class="cart__item">
                <div class="card__image">
                    <img src="{{ dataValues.imageUrl }}" alt="{{ dataValues.title }}">
                </div>
                <div>{{ dataValues.title }}</div>
                <div>Quantity: {{ dataValues.CartItems.dataValues.quantity }}</div>
                <form method="POST">
                    <input type="hidden" value="1" name="quantity">
                    <input type="hidden" name="id" value="{{ dataValues.id }}">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <button class="btn" type="submit">Add 1</button>
                </form>
                <form action="/cart/delete" method="POST">
                    <input type="hidden" name="id" value="{{ dataValues.id }}">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <button class="btn danger" type="submit">Delete</button>
                </form>
            </li>
        {{/each}}
    </ul>
    <div class="centered">
        <a class="btn" href="/checkout">Order Now!</a>
    </div>
    <hr />
</main>