<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ pageMetaTitle }}</title>
        <link rel="stylesheet" href="/css/main.css">
        {{#each pageMetaLinks}}
            <link rel="stylesheet" href="{{this}}">
        {{/each}}
    </head>
    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item"><a href="/" class="active">Home</a></li>
                    <li class="main-header__item"><a href="/products">Products</a></li>
                    {{#if isAuthenticated}}
                        <li class="main-header__item"><a href="/cart">Cart</a></li>
                        <li class="main-header__item"><a href="/orders">Orders</a></li>
                        <li class="main-header__item">
                            <form action="/account/logout" method="post">
                                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                    {{else}}
                        <li class="main-header__item"><a href="/account/login">Login</a></li>
                        <li class="main-header__item"><a href="/account/signup">Signup</a></li>
                    {{/if}}
                </ul>
            </nav>
            {{#if isAuthenticated}}
                <div class="main-header__info">
                    {{ currentUser.username }}
                    <img class="main-header__avatar" alt="avatar" src="{{ currentUser.imageUrl }}"/>
                </div>
            {{/if}}
        </header>
        <aside>
            {{#each errorMessages}}
                <div class="user-message user-message--error">{{ this }}</div>
            {{/each}}
            {{#each successMessages}}
                <div class="user-message user-message--success">{{ this }}</div>
            {{/each}}
        </aside>
        {{{ body }}}
    </body>
</html>